@import "../sass/variables";

$smallDeviceMaxWidth: 400px;
$largeDeviceMaxWidth: 900px;

@mixin sectionPadding {
  padding: 20px 80px;
  max-width: $smallDeviceMaxWidth;
  @media (min-width: $mainBreakPoint) {
    padding: 70px 225px;
    max-width: $largeDeviceMaxWidth;
  }
}

/* Header padding follows section padding, without padding top and bottom*/
@mixin headerPadding {
  padding: 0 80px;
  max-width: $smallDeviceMaxWidth;
  @media (min-width: $mainBreakPoint) {
    padding: 0 225px;
    max-width: $largeDeviceMaxWidth;
  }
}
