@import "../sass/variables";

@mixin sectionPadding {
  padding: 20px 80px;
  @media (min-width: $mainBreakPoint) {
    padding: 70px 225px;
  }
}

/* Header padding follows section padding, without padding top and bottom*/
@mixin headerPadding {
  padding: 0 80px;
  @media (min-width: $mainBreakPoint) {
    padding: 0 225px;
  }
}
