@import "variables";

$maxWidth: 600px;

@mixin sectionPadding {
  padding: 20px 40px;
  max-width: $maxWidth;
  @media (min-width: $mainBreakPoint) {
    padding: 70px 225px;
  }
}

/* Header padding follows section padding, without padding top and bottom*/
@mixin headerPadding {
  padding: 0 40px;
  max-width: $maxWidth;
  @media (min-width: $mainBreakPoint) {
    padding: 0 225px;
  }
}
