/* Colors */
$white: #f5f5f5;
$black: #252525;
$borderColor: #f0f0f0;

/* Header */
$headerElementFontSize: 1rem;
$headerElementFontWeigth: 100;

/* Layout */
$mainBreakPoint: 1100px;
$headerAndFooterHeight: 80px;
