/* Colors */
$white: #f5f5f5;
$black: #252525;
$borderColor: #f0f0f0;
$red: #5b1d11;

/* Header */
$headerElementFontSize: 0.8rem;

/* Layout */
$mainBreakPoint: 1100px;
$headerAndFooterHeight: 80px;
