.button {
  min-width: 70px;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparentize($color: #000000, $amount: 0.8);
  padding: 0 30px;
  border-radius: 3px;
}
