@import "variables";

.menu {
  font-size: $headerElementFontSize;
  flex: 2;
  margin-left: 2.5em;
  @media (min-width: $mainBreakPoint) {
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__list-item {
    text-transform: uppercase;
    font-weight: 300;
    border: none;
    cursor: pointer;
  }
}
