@import "../../sass/variables";

.menu {
  font-size: $headerElementFontSize;
  width: 100%;
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__list-item {
    color: $white;
    text-transform: uppercase;
    font-weight: $headerElementFontWeigth;
  }
}
