@import "variables";

.music {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  @media (min-width: $mainBreakPoint) {
    grid-template-columns: 1fr 1fr;
  }
  &__video-wrapper {
    grid-column: 1 / -1;
  }
  &__video {
    height: 350px;
    width: 100%;
  }
  &__video-caption {
    text-align: right;
  }
}
