@import "variables";

.events {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__asterix {
    color: $red;
  }
  &__symbol-description {
    font-size: 0.8rem;
    opacity: 0.8;
    text-transform: uppercase;
  }
}
