@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400&family=Nunito:wght@300;400;600;700;900&display=swap");

.hero-section {
  background: url("../../public/assets/img/hero-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  @apply inline-flex justify-center items-center border border-black uppercase px-4 py-2 transition-colors cursor-pointer;
}

.container {
  @apply px-4 py-8 md:max-w-6xl mx-auto;
}

.title {
  @apply text-xl font-black mb-4;
}
