@import "../../sass/variables.scss";

.logo {
  color: $black;
  text-transform: uppercase;
  font-size: $headerElementFontSize;
  font-weight: $headerElementFontWeigth;
  flex: 1;
  user-select: none;
}
