@import "variables";

html,
body,
#___gatsby,
#gatsby-focus-wrapper {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

#___gatsby {
  position: relative; // For modal
}

* {
  box-sizing: border-box;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-weight: 300;
}

/* Misc */
a {
  color: $black;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
