@import "variables", "mixins";

.section {
  min-height: 200px;
  border-bottom: 1px solid $borderColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include sectionPadding;
  margin: 0 auto;

  &__content-wrapper {
    width: 100%;
    margin: 0 auto;
    @media (min-width: $mainBreakPoint) {
      display: flex;
    }
  }

  &__to-top {
    margin: 1em 0;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 0.7rem;
    border: none;
    background-color: unset;
    font-weight: 700;
    cursor: pointer;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: $black;
  }
}
