@import "variables";

.section {
  border-bottom: 1px solid transparentize($color: #000000, $amount: 0.9);

  &__to-top {
    margin: 2em 0;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 0.7rem;
    border: none;
    background-color: unset;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
  }

  &__title {
    font-size: 1.4rem;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
  }
}
