@import "variables";

.album-showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
  &__cover-wrapper {
    grid-column: 1 / 3;
    position: relative;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    margin-top: 0.5rem;
    column-gap: 0.5rem;
    a {
      color: $black;
      font-size: 1.2rem;
      transition: opacity 0.2s ease-in-out;
    }
  }

  &__album-name {
    justify-self: end;
  }
}
