.lyrics-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: white;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  &__next-button {
    margin-left: auto;
  }
  &__previous-button {
    margin-right: auto;
  }
}
