@import "../../sass/mixins";

.header {
  width: 100%;
  display: flex;
  justify-content: center;

  &__container {
    @include sectionPadding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
