.header {
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

  &__container {
    grid-template-columns: 1fr 2fr;
    display: grid;
    padding: 1rem 0;
    align-items: center;
  }
}
