@import "variables";

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  &__image {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: $mainBreakPoint) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
