@import "sass/variables";

.section {
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  border-bottom: 1px solid $borderColor;

  &__to-top {
    margin: 1em 0;
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 0.7rem;
    border: none;
    background-color: unset;
  }
}
