@import "variables";

.album-showcase {
  &__cover-wrapper {
    position: relative;
  }

  &__cover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparentize($color: #000000, $amount: 0.5);
    top: 0;
    left: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    z-index: 100; // Without z-index, "gatsby-image" will render the image above the overlay.
  }

  &__cover-wrapper:hover &__cover-overlay {
    opacity: 1;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    margin-top: 0.5rem;
    column-gap: 0.5rem;
    a {
      color: $black;
      font-size: 1.2rem;
      opacity: 0.5;
      transition: opacity 0.2s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}
