.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.footer__text {
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.8rem;
}
