@import "../../sass/variables";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  opacity: 0.7;
  text-transform: uppercase;
  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: $mainBreakPoint) {
      flex-direction: row;
      font-size: 0.9rem;
    }
  }
  &__section {
    margin: 0 1em;
  }
  &__title {
    font-weight: 700;
  }

  &__icon-wrapper {
    i {
      color: $black;
      margin-right: 0.5em;
      margin-bottom: 0.5em;
    }
  }
}
