@import "variables";

.album-cover {
  margin-bottom: 1em;
  width: 100%;
  &__image {
    margin-bottom: 0.5em;
    @media (min-width: $mainBreakPoint) {
      min-width: 360px;
      margin-right: 1.5em;
    }
  }
  &__caption {
    opacity: 0.5;
    font-style: italic;
    font-size: 0.7rem;
  }
}
