@import "../../../../sass/variables";

.about-content {
  display: flex;
  flex-direction: column;

  &__image {
    @media (min-width: $mainBreakPoint) {
      min-width: 600px;
      margin-right: 1em;
      display: flex;
      max-width: 900px;
    }
  }
}
