/* Global variable */
/* Header */
.album-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.album-links__title {
  text-transform: uppercase;
  margin-bottom: 1em;
}

.album-links__icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.album-links__link i {
  color: #252525;
  margin-right: 0.5em;
  font-size: 2rem;
}
